doctype html
html(lang="es")
  head
    title Exec-to-html example
    link(href="example.css", rel="stylesheet", type="text/css")
  body
    h1 Exec-to-html example
    div
      label project name to update:
      input#project(value='dir-info')
      button#start(disabled=true) <big><b>U</b></big>pdate
    #iframe
    script(src="example.js")
