.err_no_esp{
    background-color:#fa8
}

.res_ok{
    background-color:#6d6
}

.res_partial{
    background-color:#dd2;
}

pre{
    margin:0px;
}

.command{
    background-color:#ddd;
}

.shell{
    background-color:#ddd;
}

.stderr{
    background-color:#fdd;
}

.stdout{
    background-color:#cfc;
}

.exit{
    background-color:#ccf;
    min-height:3px;
}